@use 'variables';

@mixin link {
	color: variables.$white;
	text-decoration: underline;
	text-decoration-color: variables.$light-blue;
	text-decoration-thickness: 4px;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}

@mixin unlink {
	text-decoration: none;
}
