/* Colors. */

$black: #000;
$white: #fff;
$light-gray: #aaa;

$light-yellow: #eedfb7;
$yellow: #f9d268;

$dark-blue: #121829;
$darker-blue: hsl(from $dark-blue h s calc(l * .5));
$blue: #202636;
$light-blue: hsl(from $blue h s calc(l * 2));
$lighter-blue: hsl(from $light-blue h s calc(l * 1.3));

$red: #782932;
$light-red: hsl(from $red h s calc(l * 1.45));
$lighter-red: #ce717b;

$green: #093;

/* Sizes. */

$button-size: 44px;
$font-size: 20px;
$line-height: 1.2;
$margin: 1rem;
$padding: .75rem;
$padding-large: $padding * 4;

$select-caret-size: 12px;
$sorted-caret-size: 6px;

$checkbox-size: 32px;

$focus-color: #0cf;
$focus-width: 4px;
$focus: 0 0 0 $focus-width $focus-color;

$form-margin: 10px;

$icon-size: 20px;

$input-background-color: rgba($white, .05);
$input-border-color: $black;
$input-border-width: 1px;
$input-line-height: 1.2;
$input-padding: 12px;
$input-height: ($font-size * $input-line-height) + ($input-padding * 2);

$label-padding: $form-margin + $input-border-width + $input-padding;

$page-auth-height: ($input-padding * 2) + ($font-size * $line-height);

$password-button-width: 87px;

$star-size: 24px;

/* Breakpoints. */

$breakpoint-small: 480px;
$screen-width-tablet-portrait: 768px;
$screen-width-tablet-landscape: 1024px;

$breakpoint-nav: $screen-width-tablet-landscape;
$breakpoint-table: $screen-width-tablet-portrait + 1px;
