// Colors

$black: #000;
$white: #fff;
$light-gray: #aaa;

$light-yellow: #eedfb7;
$yellow: #f9d268;

$dark-blue: #121829;
$darker-blue: scale-color($dark-blue, $lightness: -50%);
$blue: #202636;
$light-blue: scale-color($blue, $lightness: 20%);
$lighter-blue: scale-color($light-blue, $lightness: 15%);

$red: #782932;
$light-red: scale-color($red, $lightness: 20%);
$lighter-red: #ce717b;

$green: #093;

// Sizes

$button-size: 44px;
$font-size: 20px;
$line-height: 1.2;
$margin: 1rem;
$padding: .75rem;
$padding-large: $padding * 4;

$select-caret-size: 12px;
$sorted-caret-size: 6px;

$checkbox-size: 32px;

$focus-color: #0cf;
$focus-width: 4px;
$focus: 0 0 0 $focus-width $focus-color;

$form-margin: 10px;

$icon-size: 20px;

$input-background-color: rgba($white, .05);
$input-border-color: $black;
$input-border-width: 1px;
$input-line-height: 1.2;
$input-padding: 12px;
$input-height: ($font-size * $input-line-height) + ($input-padding * 2);

$label-padding: $form-margin + $input-border-width + $input-padding;

$page-auth-height: ($input-padding * 2) + ($font-size * $line-height);

$password-button-width: 87px;

$star-size: 24px;

// Breakpoints

$breakpoint-small: 480px;
$screen-width-tablet-portrait: 768px;
$screen-width-tablet-landscape: 1024px;

$breakpoint-nav: $screen-width-tablet-landscape;
$breakpoint-table: $screen-width-tablet-portrait + 1px;

$tablet-portrait-up: 'min-width: #{$screen-width-tablet-portrait}';
$tablet-landscape-up: 'min-width: #{$screen-width-tablet-landscape}';
