#page-auth,
#page-footer {
	background: var(--darker-blue);
	text-align: right;
}

#page-footer {
	margin-top: calc(var(--padding) * 2);

	@media (--tablet-landscape-up) {
		margin-top: var(--padding-large);
	}
}

#page-auth-inner,
#page-footer-inner {
	@media (--tablet-landscape-up) {
		padding: 0;
	}
}
