#nav-dialog {
	background: none;
	border: 0;
	box-shadow: 0 0 0 100vh hsl(from var(--dark-blue) h s l / 0%);
	padding: 0;
	transition: box-shadow 0.3s ease-in-out;

	&:focus {
		box-shadow: inherit;
	}

	.show-nav.animate-nav & {
		box-shadow: 0 0 0 100vh hsl(from var(--dark-blue) h s l / 70%);
		display: block;
	}
}

#nav-dialog::backdrop {
	background: transparent;
}

#nav {
	background: var(--darker-blue);
	box-shadow: 0 20px 20px hsl(from var(--black) h s l / 20%);
	display: none;
	inset: 0;
	max-width: 240px;
	overflow: auto;
	position: fixed;
	transform: translateX(-100%);
	transition: transform 0.3s ease-in-out;
	z-index: 9999;

	.link,
	button {
		display: block;
		font-size: var(--font-size);
		font-weight: normal;
		padding: var(--input-padding);
		text-align: left;
		width: 100%;

		&:hover,
		&:active,
		&:focus {
			background-color: var(--dark-blue);
		}
	}

	.link {
		border-bottom: 1px solid var(--blue);
	}

	.show-nav & {
		display: block;
	}

	.show-nav.animate-nav & {
		transform: translateX(0);
	}

	@media (--nav-breakpoint-down) {
		.no-js & {
			box-shadow: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			max-width: none;
			overflow: unset;
			position: static;
			transform: none;
			transition: none;

			.link,
			button {
				width: auto;
			}
		}
	}

	@media (--nav-breakpoint-up) {
		box-shadow: none;
		display: flex;
		flex-wrap: wrap;
		max-width: none;
		position: static;
		text-align: right;
		transform: none;
		transition: none;
		width: 100%;

		.link,
		button {
			display: inline-block;
			width: auto;
		}

		.link {
			border: 0;
		}
	}
}

.button--icon {
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	border: 0;
	border-radius: 0;
	cursor: pointer;
	font-size: 0;
	height: var(--button-size);
	width: var(--button-size);
	z-index: 999;

	&:hover,
	&:active,
	&:focus {
		background-color: transparent;
	}
}

#nav-show {
	background-image: url('/assets/img/menu.svg');
	position: absolute;
	right: 0;
	top: 0;

	.show-nav & {
		visibility: hidden;
	}

	@media (--nav-breakpoint-down) {
		.no-js & {
			display: none;
		}
	}

	@media (--nav-breakpoint-up) {
		display: none;
	}
}

#nav-close {
	background-image: url('/assets/img/x.svg');
	position: fixed;
	right: 0;
	top: 0;

	@media (--nav-breakpoint-up) {
		display: none;
	}
}

.show-nav.animate-nav {
	height: 100vh;
	overflow-y: hidden;
	position: fixed;
	width: 100%;

	@media (--nav-breakpoint-up) {
		height: auto;
		overflow-y: unset;
		position: static;
		width: auto;
	}
}
