@import '../../node_modules/normalize.css/normalize';
@import 'utilities/variables';
@import 'utilities/mixins';
@import 'utilities/fonts';
@import 'layout/header';
@import 'components/alert';
@import 'components/auth';
@import 'components/button';
@import 'components/date';
@import 'components/focus';
@import 'components/form';
@import 'components/heading';
@import 'components/input';
@import 'components/label';
@import 'components/link';
@import 'components/paragraph';
@import 'components/screenreader';
@import 'components/star';
@import 'components/table';
@import 'components/tag-list';
@import 'components/widget';
@import 'components/widget-cloud';
@import 'components/widget-graph';

* {
	box-sizing: border-box;
}

body {
	background-attachment: fixed;
	background-color: $blue;
	background-image: url('/assets/img/bg.png');
	color: $white;
	font-family: 'Libre Franklin', sans-serif;
	font-size: $font-size;
	line-height: $line-height;
	margin: 0;

	&::before {
		background: linear-gradient($dark-blue, rgba($dark-blue, 0));
		content: '';
		display: block;
		height: 50vh;
		left: 0;
		pointer-events: none;
		position: fixed;
		right: 0;
		top: 0;
		z-index: -1;
	}
}

article {
	margin-top: $padding-large;
	padding: 0 $padding;
}
