@use '../utilities/variables';

#page-auth,
#page-footer {
	background: variables.$darker-blue;
	text-align: right;
}

#page-footer {
	margin-top: calc(variables.$padding * 2);

	@media (width >= variables.$screen-width-tablet-landscape) {
		margin-top: variables.$padding-large;
	}
}

#page-auth-inner,
#page-footer-inner {
	@media (width >= variables.$screen-width-tablet-landscape) {
		padding: 0;
	}
}
