#page-header {
	font-size: 0;
	line-height: 1;
	margin: $padding-large 0 0;
	text-align: center;
}

#page-title {
	background-image: url('/assets/img/title.svg');
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	font-size: 0;
	height: 27px;
	text-decoration: none;
	width: 200px;

	@media screen and (min-width: $breakpoint-tiny) {
		height: 62px;
		width: 450px;
	}
}

a#page-title {
	&:hover,
	&:active,
	&:focus {
		opacity: .7;
	}
}

body.auth {
	padding-top: $page-auth-height;
}

#page-auth {
	font-size: $font-size;
	left: 0;
	min-height: $page-auth-height;
	position: absolute;
	right: 0;
	top: 0;

	.link {
		white-space: nowrap;
	}
}

#page-auth-inner {
	display: flex;
	flex-wrap: wrap;
}

#page-auth-flex {
	flex: 1 1 auto;
}

#page-auth,
#page-footer {
	background: $darker-blue;
	text-align: right;
}

#page-footer {
	margin-top: $padding-large;
}

#page-auth-inner,
#page-footer-inner {
	padding: 0 $padding;
}
