#page-header {
	line-height: 1;
	margin: $padding 0 #{$padding * 2};
	text-align: center;
}

#page-title {
	background-image: url('/assets/img/title.svg');
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	font-size: 0;
	height: 27px;
	text-decoration: none;
	width: 200px;

	&:hover,
	&:active,
	&:focus {
		opacity: .7;
	}

	@media screen and (min-width: $breakpoint-tiny) {
		height: 62px;
		width: 450px;
	}
}

$page-auth-height: ($input-padding * 2) + ($font-size * $line-height);

body {
	padding-top: $page-auth-height;
}

#page-auth {
	background: $darker-blue;
	height: $page-auth-height;
	left: 0;
	padding: 0 $padding;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
}
