@use '../utilities/variables';

* {
	box-sizing: border-box;
}

body {
	background-attachment: fixed;
	background-color: variables.$blue;
	background-image: url('/assets/img/bg.png');
	color: variables.$white;
	font-family: 'Libre Franklin', sans-serif;
	font-size: variables.$font-size;
	line-height: variables.$line-height;
	margin: 0;

	&::before {
		background: linear-gradient(variables.$dark-blue, rgba(variables.$dark-blue, 0));
		content: '';
		display: block;
		height: 50vh;
		left: 0;
		pointer-events: none;
		position: fixed;
		right: 0;
		top: 0;
		z-index: -1;
	}
}

#main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.auth & {
		min-height: calc(100vh - #{variables.$page-auth-height});
	}
}
