.autocomplete__input-wrapper {
	position: relative;
}

.autocomplete__clear {
	background: transparent;
	border: 0;
	display: none;
	position: absolute;
	right: var(--input-border-width);
	top: var(--input-border-width);

	.clearable:not(.loading) & {
		display: block;
	}
}

.autocomplete__loading {
	display: none;
	font-size: 0;

	&::after {
		animation: spin 1s infinite linear;
		border-color: var(--yellow) var(--yellow) var(--yellow) transparent;
		border-radius: 1000px;
		border-style: solid;
		border-width: 4px;
		content: '';
		display: block;
		height: 20px;
		position: relative;
		width: 20px;
	}

	.loading & {
		align-items: center;
		bottom: var(--input-border-width);
		display: flex;
		position: absolute;
		right: var(--input-padding);
		top: var(--input-border-width);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}

.autocomplete__results {
	background: var(--dark-blue);
	box-shadow: 0 0 5px hsl(from var(--black) h s l / 25%);
	left: 0;
	margin-top: var(--focus-width);
	max-height: 30vh;
	overflow: auto;
	padding: calc(var(--autocomplete-padding) + 1px) var(--autocomplete-padding);
	position: absolute;
	right: 0;
	top: 100%;
}

.autocomplete__results-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.autocomplete__results-item {
	margin: -1px;
	padding: 0;
}

.autocomplete__results-button {
	background: transparent;
	border: 1px solid var(--light-blue);
	color: var(--white);
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;

	&:focus {
		position: relative;
		z-index: 1;
	}

	[data-selected] &,
	&:hover,
	&:active,
	&:focus {
		background: var(--yellow);
		color: var(--black);
	}
}

.autocomplete__results-none {
	color: var(--light-gray);
	font-style: italic;
	margin: 0;
	padding: 0.7rem 1rem;
}

.autocomplete__selected-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0.5rem calc(var(--autocomplete-selected-item-padding) * -1) calc(var(--autocomplete-selected-item-padding) * -1);
	padding: 0;
}

.autocomplete__selected-item {
	display: flex;
	margin: var(--autocomplete-selected-item-padding);
}

.autocomplete__selected-link {
	border-color: var(--light-blue);
	border-style: solid;
	border-width: 1px 0 1px 1px;
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	padding: 0.75rem;
}

.autocomplete__selected-button {
	background: var(--light-blue);
	border-color: var(--light-blue);
	border-width: 1px 1px 1px 0;
	color: var(--white);
	font-size: 0;

	&:hover,
	&:active,
	&:focus {
		background: var(--lighter-blue);
		border-color: var(--lighter-blue);
	}

	&::after {
		content: '\00d7'; /* &times; */
		font-size: 18px;
		line-height: 1;
	}
}
