/* stylelint-disable declaration-no-important */
#content {
	background-color: var(--input-background-color);
	border: 1px solid var(--white);
	line-height: 1.5;
	min-height: 107px;
	opacity: .5;
	padding: 0 12px;

	&::before {
		background-color: var(--white);
		content: '';
		display: block;
		height: 77px;
		margin: 0 -12px 1rem;
	}
}

.ck-content {
	blockquote {
		border-color: var(--light-blue) !important;
		font-style: normal !important;

		& > :first-child {
			margin-top: 0;
		}
	}

	hr {
		background-color: var(--light-blue) !important;
		height: 1px !important;
	}
}

.ck.ck-editor__main > .ck-editor__editable {
	background-color: var(--input-background-color) !important;
	color: var(--white) !important;
	font-family: var(--font-family);
	font-size: var(--font-size);

	p,
	ol,
	ul {
		line-height: 1.5;
	}
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
	border-color: var(--focus-color) !important;
	box-shadow: var(--focus) !important;
}

.ck-word-count {
	color: var(--light-gray);
	display: flex;
	font-size: 16px;
	justify-content: space-between;
	margin-top: .25rem;
}

.ck {
	img:not([alt]),
	img[alt=''] {
		box-shadow: 0 0 0 4px var(--red);
	}
}
