#widgets {
	display: grid;
	grid-gap: var(--padding);
	margin-top: calc(var(--padding) * 2);

	@media (--tablet) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (--tablet-landscape-up) {
		margin-top: var(--padding-large);
	}

	@media (--desktop-up) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.widget {
	animation-duration: 500ms;
	animation-fill-mode: forwards;
	animation-name: flip;
	animation-timing-function: linear;
	background: hsl(from var(--black) h s l / 20%);
	flex: 1 1 auto;
	opacity: 0;
	padding: 1rem;
	transform: rotateY(-180deg);

	@media (--tablet-portrait-up) {
		padding: 1.25rem;
	}

	@media (prefers-reduced-motion) {
		animation-name: none;
		opacity: 1;
		transform: none;
	}
}

@keyframes flip {
	0% {
		opacity: 0;
		transform: rotateY(-180deg);
	}

	100% {
		opacity: 1;
		transform: rotateY(0deg);
	}
}

@media (--tablet) {
	.widget--m2row {
		grid-row-end: span 2;
	}

	.widget--m2col {
		grid-column-end: span 2;
	}
}

@media (--desktop-up) {
	.widget--l2col {
		grid-column-end: span 2;
	}

	.widget--l2row {
		grid-row-end: span 2;
	}
}

.widget__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget__list--columns {
	@media (--tablet-portrait-up) {
		display: grid;
		grid-auto-flow: column;
		grid-gap: 0 1rem;
		grid-template-rows: repeat(5, 1fr);
	}
}

.widget__list-item {
	margin-top: 1.5rem;

	@media (--tablet-portrait-up) {
		margin-top: 1rem;
	}
}

#recent-movies {
	.widget__list-item + .widget__list-item {
		margin-top: 1.5rem;
	}

	.date {
		margin-top: .25rem;
	}
}

#stats {
	align-items: center;
	display: flex;
	justify-content: center;

	.widget__list {
		display: flex;
		flex-wrap: wrap;
	}

	.widget__list-item {
		line-height: 1;
		margin: 0;
		text-align: center;
		width: 50%;
	}

	.widget__link {
		color: var(--light-gray);
		display: inline-block;
		margin: .5rem 0;
		padding: .5rem;
		text-decoration: none;

		&:hover,
		&:active,
		&:focus {
			.num {
				text-decoration: none;
			}
		}
	}

	.num {
		display: block;
		font-size: 2rem;
		font-weight: bold;
		margin-bottom: .5rem;
	}
}
