@use '../utilities/variables';

.alert {
	background: variables.$light-blue;
	margin: variables.$margin 0 0;
	padding: variables.$padding;

	div + div {
		margin-top: .5rem;
	}
}

.alert--danger {
	background: variables.$red;
}

.alert--success {
	background: variables.$green;
}
