@use '../utilities/variables';

body.auth {
	padding-top: variables.$page-auth-height;

	@media (width < variables.$breakpoint-nav) {
		.no-js & {
			padding-top: 0;
		}
	}
}

#page-auth-inner {
	display: flex;
	flex-wrap: wrap;
}

#page-auth {
	left: 0;
	min-height: variables.$page-auth-height;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;

	.link {
		white-space: nowrap;
	}

	@media (width < variables.$breakpoint-nav) {
		.no-js & {
			position: static;
		}
	}
}

#page-auth-flex {
	flex: 1 1 auto;

	@media (width < variables.$breakpoint-nav) {
		.no-js & {
			display: none;
		}
	}
}

#auth {
	margin: calc(variables.$padding * 2) auto 0;
	max-width: 450px;

	@media (width >= variables.$screen-width-tablet-landscape) {
		margin-top: variables.$padding-large;
	}
}

#logout {
	display: inline-block;
	width: 100%;

	@media (width < variables.$breakpoint-nav) {
		.no-js & {
			width: auto;
		}
	}

	@media (width >= variables.$breakpoint-nav) {
		width: auto;
	}
}

#delete-form {
	text-align: right;
}
