@use '../utilities/variables';

$autocomplete-padding: variables.$focus-width;
$autocomplete-selected-item-padding: 6px;

.autocomplete__input-wrapper {
	position: relative;
}

.autocomplete__clear {
	background: transparent;
	border: 0;
	display: none;
	position: absolute;
	right: variables.$input-border-width;
	top: variables.$input-border-width;

	.clearable:not(.loading) & {
		display: block;
	}
}

.autocomplete__loading {
	display: none;
	font-size: 0;

	&::after {
		animation: spin 1s infinite linear;
		border-color: variables.$yellow variables.$yellow variables.$yellow transparent;
		border-radius: 1000px;
		border-style: solid;
		border-width: 4px;
		content: '';
		display: block;
		height: 20px;
		position: relative;
		width: 20px;
	}

	.loading & {
		align-items: center;
		bottom: variables.$input-border-width;
		display: flex;
		position: absolute;
		right: variables.$input-padding;
		top: variables.$input-border-width;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}

.autocomplete__results {
	background: variables.$dark-blue;
	box-shadow: 0 0 5px rgba(variables.$black, .25);
	left: 0;
	margin-top: variables.$focus-width;
	max-height: 30vh;
	overflow: auto;
	padding: calc($autocomplete-padding + 1px) $autocomplete-padding;
	position: absolute;
	right: 0;
	top: 100%;
}

.autocomplete__results-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.autocomplete__results-item {
	margin: -1px;
	padding: 0;
}

.autocomplete__results-button {
	background: transparent;
	border: 1px solid variables.$light-blue;
	color: variables.$white;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;

	&:focus {
		position: relative;
		z-index: 1;
	}

	[data-selected] &,
	&:hover,
	&:active,
	&:focus {
		background: variables.$yellow;
		color: variables.$black;
	}
}

.autocomplete__results-none {
	color: variables.$light-gray;
	font-style: italic;
	margin: 0;
	padding: .7rem 1rem;
}

.autocomplete__selected-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: .5rem calc($autocomplete-selected-item-padding * -1) calc($autocomplete-selected-item-padding * -1);
	padding: 0;
}

.autocomplete__selected-item {
	display: flex;
	margin: $autocomplete-selected-item-padding;
}

.autocomplete__selected-link {
	border-color: variables.$light-blue;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	padding: .75rem;
}

.autocomplete__selected-button {
	background: variables.$light-blue;
	border-color: variables.$light-blue;
	border-width: 1px 1px 1px 0;
	color: variables.$white;
	font-size: 0;

	&:hover,
	&:active,
	&:focus {
		background: variables.$lighter-blue;
		border-color: variables.$lighter-blue;
	}

	&::after {
		content: '\00d7'; /* &times; */
		font-size: 18px;
		line-height: 1;
	}
}
