#auth {
	margin: 0 auto;
	max-width: 450px;
}

#logout {
	display: inline-block;
	width: 100%;

	@media screen and (min-width: $breakpoint-nav) {
		width: auto;
	}
}

#delete-form {
	text-align: right;
}
