body.auth {
	padding-top: $page-auth-height;

	@media (width < $breakpoint-nav) {
		.no-js & {
			padding-top: 0;
		}
	}
}

#page-auth-inner {
	display: flex;
	flex-wrap: wrap;
}

#page-auth {
	left: 0;
	min-height: $page-auth-height;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;

	.link {
		white-space: nowrap;
	}

	@media (width < $breakpoint-nav) {
		.no-js & {
			position: static;
		}
	}
}

#page-auth-flex {
	flex: 1 1 auto;

	@media (width < $breakpoint-nav) {
		.no-js & {
			display: none;
		}
	}
}

#auth {
	margin: #{$padding * 2} auto 0;
	max-width: 450px;

	@media ($tablet-landscape-up) {
		margin-top: $padding-large;
	}
}

#logout {
	display: inline-block;
	width: 100%;

	@media (width < $breakpoint-nav) {
		.no-js & {
			width: auto;
		}
	}

	@media (width >= $breakpoint-nav) {
		width: auto;
	}
}

#delete-form {
	text-align: right;
}
