@use '../utilities/mixins';
@use '../utilities/variables';

button {
	background-color: variables.$light-yellow;
	border: 1px solid variables.$light-yellow;
	color: variables.$black;
	cursor: pointer;
	display: inline-block;
	line-height: variables.$input-line-height;
	padding: variables.$input-padding 1rem;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		background-color: variables.$yellow;
		border-color: variables.$yellow;
	}
}

.button--link {
	@include mixins.link;

	background-color: transparent;
	border-color: transparent;
	color: variables.$white;
	line-height: 1;

	&:hover,
	&:active,
	&:focus {
		background-color: transparent;
		border-color: transparent;
	}
}

.button--danger {
	background-color: variables.$red;
	border-color: variables.$red;
	color: variables.$white;

	&:hover,
	&:active,
	&:focus {
		background-color: variables.$light-red;
		border-color: variables.$light-red;
	}
}

.button--secondary {
	background-color: variables.$light-blue;
	border-color: variables.$light-blue;
	color: variables.$white;

	&:hover,
	&:active,
	&:focus {
		background-color: variables.$lighter-blue;
		border-color: variables.$lighter-blue;
	}
}
