h1 {
	color: $light-yellow;
	font-size: 1.5rem;
	line-height: 1;
	margin: 0;

	small {
		color: $light-gray;
		font-size: 1rem;
		font-weight: normal;
	}
}

#content-title {
	margin-top: #{$padding * 2};

	@media (min-width: $breakpoint-large) {
		margin-top: $padding-large;
		padding-left: $padding;
		padding-right: $padding;

		&.content-title--no-results {
			padding: 0;
		}
	}
}
