input,
select,
textarea {
	-webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
	background-color: $input-background-color;
	border: $input-border-width solid $input-border-color;
	border-radius: 0;
	color: $white;
	line-height: $input-line-height;
	max-width: 100%;
	padding: $input-padding;
	width: 100%;
}

input[type='checkbox'] {
	appearance: none;
	background: $input-background-color;
	border: 1px solid $input-border-color;
	border-radius: 0;
	cursor: pointer;
	height: $checkbox-size;
	vertical-align: middle;
	width: $checkbox-size;

	&:checked {
		&::after {
			background-image: url('/assets/img/check.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: $icon-size;
			content: '';
			display: block;
			height: $checkbox-size;
			line-height: $checkbox-size;
			text-align: center;
			width: $checkbox-size;
		}
	}
}

input[size],
select {
	width: auto;
}

select {
	background-image: url('/assets/img/caret.svg');
	background-position: calc(100% - #{$input-padding}) center;
	background-repeat: no-repeat;
	background-size: $select-caret-size;
	cursor: pointer;
	padding-right: #{$select-caret-size + ($input-padding * 2)};
}

input,
select,
textarea,
.autocomplete__clear,
.ck-editor.ck.ck-reset,
.password-button {
	margin-top: .25rem;
}

.textarea--large {
	height: 50vh;
	line-height: 1.5;
}

.password-container {
	display: flex;
}

input.password-input {
	border-right-color: transparent;
	width: calc(100% - #{$password-button-width});

	.no-js & {
		width: 100%;
	}
}

.password-button {
	border-color: $input-border-color;
	width: $password-button-width;

	.no-js & {
		display: none;
	}

	&:hover,
	&:active,
	&:focus {
		border-color: $input-border-color;
	}
}
