@use '../utilities/mixins';
@use '../utilities/variables';

a {
	@include mixins.link;
}

.link {
	display: inline-block;
	padding: variables.$input-padding;
}

.link--active {
	color: variables.$light-gray;
	text-decoration: none;
}
