@mixin link {
	color: $white;
	text-decoration: underline;
	text-decoration-color: $light-blue;
	text-decoration-thickness: 4px;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}

@mixin unlink {
	text-decoration: none;
}

a {
	@include link;
}

.link {
	display: inline-block;
	padding: $input-padding;
}
