@use '../utilities/variables';

.modal {
	background: variables.$light-blue;
	border: 0;
	color: variables.$white;
	padding: 24px;
}

.modal::backdrop {
	background: rgba(variables.$black, .5);
}

.modal__box {
	& > :first-child {
		margin-top: 0;
	}
}

.modal__options {
	text-align: right;
}
