$table-cell-padding: .75rem;

table {
	border-spacing: 0;
	width: 100%;

	input,
	input[size],
	select {
		width: 100%;
	}
}

td {
	border-top: 1px solid $light-blue;
	padding: $table-cell-padding;
}

.column--name {
	width: 100%;
}

.column--year {
	width: 122px;
}

.column--long-year {
	width: 142px;
}

.column--author {
	width: 222px;
}

.column--date {
	width: 222px;
}

.column--rating {
	width: 114px;
}

.column--tags {
	width: 270px;
}

.sortable-button {
	padding-right: calc(#{$table-cell-padding * 2} + #{($sorted-caret-size * 2)});
	position: relative;
	width: 100%;

	.no-js & {
		cursor: default;
		pointer-events: none;
		text-decoration: none;
	}
}

.sortable-button--asc,
.sortable-button--desc {
	&::after {
		border-color: $white transparent transparent;
		border-style: solid;
		border-width: $sorted-caret-size;
		content: '';
		display: block;
		margin-top: #{-.5 * $sorted-caret-size};
		position: absolute;
		right: $table-cell-padding;
		top: 50%;
		width: 0;
	}
}

.sortable-button--desc {
	&::after {
		border-color: transparent transparent $white;
		bottom: 50%;
		margin-bottom: #{-.5 * $sorted-caret-size};
		margin-top: 0;
		top: auto;
	}
}

[data-filter-hide^='('] {
	display: none;
}

.no-results {
	thead {
		td {
			border-bottom: 1px solid $light-blue;
		}
	}

	&::after {
		content: 'No results.';
		display: block;
		padding: #{$table-cell-padding * 1.5} $table-cell-padding;
	}
}

.no-js {
	#filters {
		display: none;
	}
}

.filter-label {
	display: none;
}

@media (max-width: #{$breakpoint-table - 1px}) {
	table {
		input[size],
		select {
			width: auto;
		}
	}

	.sortable-button {
		white-space: nowrap;
		width: auto;

		&::before {
			content: 'Sort by ';
		}
	}

	#filters {
		td {
			background: rgba($black, .2);
		}

		& > :first-child {
			margin-top: 1rem;
		}
	}

	.filter-label {
		display: block;
	}

	thead {
		& > :first-child {
			th {
				background: rgba($black, .2);
				padding: .25rem 0;
				text-align: left;
				width: 100%;
			}

			& > :first-child {
				margin-top: 1rem;
			}
		}

		td {
			padding: $padding;
		}
	}

	td,
	th {
		border-width: 0;
		display: block;
		padding: .5rem 0 0;

		&:empty {
			display: none;
		}
	}

	[data-key='title'] {
		border-top: 1px solid $light-blue;
		display: block;
		margin-top: 2rem;
		padding: 2rem 0 0;
	}

	[data-key='year'] {
		display: inline-block;
		font-size: 16px;
		padding-top: 0;

		&::before {
			content: '(';
		}

		&::after {
			content: ')';
		}
	}

	[data-key='author'] {
		&::before {
			content: 'by ';
		}
	}

	[data-key='rating'] {
		&::after {
			content: ' out of 5';
		}
	}

	[data-key='author'],
	[data-key='rating'],
	[data-key='date'] {
		color: $light-gray;
		font-size: 16px;
	}
}
