.toggle-button {
	font-size: 18px;
	margin: $margin 0 0;
	width: 100%;

	@media (width >= $breakpoint-table) {
		display: none;
	}
}

#thead {
	@media (width < $breakpoint-table) {
		&.toggle-hide {
			display: none;
		}
	}
}
