.toggle-button {
	font-size: 18px;
	margin: $margin 0 0;
	width: 100%;

	@media (min-width: $breakpoint-table) {
		display: none;
	}
}

#thead {
	@media (max-width: #{$breakpoint-table - 1px}) {
		&.toggle-hide {
			display: none;
		}
	}
}
