@use '../utilities/variables';

.toggle-button {
	font-size: 18px;
	margin: variables.$margin 0 0;
	width: 100%;

	@media (width >= variables.$breakpoint-table) {
		display: none;
	}
}

#thead {
	@media (width < variables.$breakpoint-table) {
		&.toggle-hide {
			display: none;
		}
	}
}
