@use '../utilities/mixins';
@use '../utilities/variables';

.widget--cloud {
	align-items: center;
	display: flex;
	justify-content: center;
	line-height: 1;
	text-align: center;
}

.cloud {
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

.cloud__list-item {
	display: inline-block;
	font-size: variables.$font-size;
}

.cloud__link {
	@include mixins.unlink;

	display: block;
	margin: .25rem;
	padding: .5rem;

	@media (width >= variables.$screen-width-tablet-landscape) {
		padding: .25rem;
	}
}

.cloud__text {
	@include mixins.link;
}

.cloud__num {
	display: none;
}
