.widget--cloud {
	align-items: center;
	display: flex;
	justify-content: center;
	line-height: 1;
	text-align: center;
}

.cloud {
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

.cloud__list-item {
	display: inline-block;
	font-size: $font-size;
	margin: 4px;
}

.cloud__link {
	@include unlink;
}

.cloud__text {
	@include link;
}

.cloud__num {
	font-size: 0;
}
