@use '../utilities/mixins';
@use '../utilities/variables';

#widgets {
	display: grid;
	grid-gap: variables.$padding;
	grid-template-rows: repeat(auto-fill, 1fr);
	margin-top: calc(variables.$padding * 2);

	@media (width >= variables.$screen-width-tablet-portrait) and (width <= variables.$screen-width-tablet-landscape) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (width >= variables.$screen-width-tablet-landscape) {
		margin-top: variables.$padding-large;
	}

	@media (width > variables.$screen-width-tablet-landscape) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.widget {
	animation-duration: 500ms;
	animation-fill-mode: forwards;
	animation-name: flip;
	animation-timing-function: linear;
	background: rgba(variables.$black, .2);
	flex: 1 1 auto;
	opacity: 0;
	padding: 1rem;
	transform: rotateY(-180deg);

	@media (width >= variables.$screen-width-tablet-portrait) {
		padding: 1.25rem;
	}

	@media (prefers-reduced-motion) {
		animation-name: none;
		opacity: 1;
		transform: none;
	}
}

@keyframes flip {
	0% {
		opacity: 0;
		transform: rotateY(-180deg);
	}

	100% {
		opacity: 1;
		transform: rotateY(0deg);
	}
}

@media (width >= variables.$screen-width-tablet-portrait) and (width <= variables.$screen-width-tablet-landscape) {
	.widget--m2row {
		grid-row-end: span 2;
	}

	.widget--m2col {
		grid-column-end: span 2;
	}
}

@media (width > variables.$screen-width-tablet-landscape) {
	.widget--l2col {
		grid-column-end: span 2;
	}

	.widget--l2row {
		grid-row-end: span 2;
	}
}

.widget__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget__list--columns {
	@media (width >= variables.$screen-width-tablet-portrait) {
		display: grid;
		grid-auto-flow: column;
		grid-gap: 0 1rem;
		grid-template-rows: repeat(5, 1fr);
	}
}

.widget__list-item {
	margin-top: 1.5rem;

	@media (width >= variables.$screen-width-tablet-portrait) {
		margin-top: 1rem;
	}
}

#recent-movies {
	.widget__list-item + .widget__list-item {
		margin-top: 1.5rem;
	}

	.date {
		margin-top: .25rem;
	}
}

#stats {
	align-items: center;
	display: flex;
	justify-content: center;

	.widget__list {
		display: flex;
		flex-wrap: wrap;
	}

	.widget__list-item {
		line-height: 1;
		margin: 0;
		text-align: center;
		width: 50%;
	}

	.widget__link {
		@include mixins.unlink;

		color: variables.$light-gray;
		display: inline-block;
		margin: .5rem 0;
		padding: .5rem;

		&:hover,
		&:active,
		&:focus {
			.num {
				text-decoration: none;
			}
		}
	}

	.num {
		@include mixins.link;

		display: block;
		font-size: 2rem;
		font-weight: bold;
		margin-bottom: .5rem;
	}
}
