.widget--cloud {
	align-items: center;
	display: flex;
	justify-content: center;
	line-height: 1;
	text-align: center;
}

.cloud {
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

.cloud__list-item {
	display: inline-block;
	font-size: $font-size;
}

.cloud__link {
	@include unlink;

	display: block;
	margin: .25rem;
	padding: .5rem;

	@media ($tablet-landscape-up) {
		padding: .25rem;
	}
}

.cloud__text {
	@include link;
}

.cloud__num {
	display: none;
}
